.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-none {
  flex: none;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

@for $i from 0 through 2 {
  .order-#{$i} {
    order: $i;
  }
}

.flex-auto {
  flex: auto;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem($gap-m * -0.5);
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @media #{$breakpoint-value} {
    .#{$breakpoint-name}--flex {
      display: flex;
    }

    .#{$breakpoint-name}--inline-flex {
      display: inline-flex;
    }

    .#{$breakpoint-name}--flex-none {
      flex: none;
    }

    .#{$breakpoint-name}--flex-column {
      flex-direction: column;
    }

    .#{$breakpoint-name}--flex-row {
      flex-direction: row;
    }

    .#{$breakpoint-name}--flex-wrap {
      flex-wrap: wrap;
    }

    .#{$breakpoint-name}--flex-nowrap {
      flex-wrap: nowrap;
    }

    .#{$breakpoint-name}--flex-wrap-reverse {
      flex-wrap: wrap-reverse;
    }

    .#{$breakpoint-name}--flex-column-reverse {
      flex-direction: column-reverse;
    }

    .#{$breakpoint-name}--flex-row-reverse {
      flex-direction: row-reverse;
    }

    .#{$breakpoint-name}--flex-auto {
      flex: auto;
    }

    @for $i from 0 through 2 {
      .#{$breakpoint-name}--order-#{$i} {
        order: $i;
      }
    }

    .#{$breakpoint-name}--flex-grow-0 {
      flex-grow: 0;
    }

    .#{$breakpoint-name}--flex-grow-1 {
      flex-grow: 1;
    }

    .#{$breakpoint-name}--flex-shrink-0 {
      flex-shrink: 0;
    }

    .#{$breakpoint-name}--flex-shrink-1 {
      flex-shrink: 1;
    }
  }
}
