.fs-0 {
  font-size: 0;
}

@each $font-scale, $font-size in $font-sizes {
  $i: index($font-sizes, $font-scale $font-size);

  .fs-#{$i} {
    font-size: rem($font-size);
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @media #{$breakpoint-value} {
    .#{$breakpoint-name}--fs-0 {
      font-size: 0;
    }

    @each $font-scale, $font-size in $font-sizes {
      $i: index($font-sizes, $font-scale $font-size);

      .#{$breakpoint-name}--fs-#{$i} {
        font-size: rem($font-size);
      }
    }
  }
}
