@each $icon-name, $icon-value in $icon-sizes {
  .icon-#{$icon-name} {
    display: inline-block;
    height: #{$icon-value};
    width: #{$icon-value};

    img,
    svg {
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: contain;
      object-position: bottom;
    }
  }
}
