@each $scale, $height in $line-heights {
  $i: index($line-heights, $scale $height) - 1;

  .lh-#{$i} {
    line-height: rem($height);
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @media #{$breakpoint-value} {
    @each $scale, $height in $line-heights {
      $i: index($line-heights, $scale $height) - 1;

      .#{$breakpoint-name}--lh-#{$i} {
        line-height: rem($height);
      }
    }
  }
}
