$base-scale: 4px;

// Colors
$colors: (
  // Primary palette
  ocean: #356ae6,
  ocean-120: #1b54d9,
  ocean-80: #5884ea,
  ocean-60: #c1d1f7,
  ocean-40: #e3ebfc,
  ocean-20: #fafbff,
  slate: #4e5468,
  slate-120: #1f2129,
  slate-80: #5f667e,
  slate-60: #9298ad,
  slate-40: #ced3e0,
  slate-20: #f7f9ff,
  mint: #19cca3,
  mint-120: #139879,
  mint-80: #1bddb1,
  mint-60: #6ae6c9,
  mint-40: #b6f2e4,
  mint-20: #ebfffa,
  // Secondary palette
  strawberry: #f3376b,
  strawberry-120: #e40e49,
  strawberry-80: #f56e94,
  strawberry-60: #faa5bd,
  strawberry-40: #fcdee7,
  strawberry-20: #fff2f6,
  creamsicle: #ff8730,
  creamsicle-120: #f46700,
  creamsicle-80: #ffa869,
  creamsicle-60: #ffbf90,
  creamsicle-40: #ffe1cb,
  creamsicle-20: #fff8f2,
  lavender: #9159fc,
  lavender-120: #73f,
  lavender-80: #aa81fc,
  lavender-60: #c3a7fc,
  lavender-40: #eae0fe,
  lavender-20: #f7f2ff,
  banana: #facf3f,
  banana-120: #deaa00,
  banana-80: #fbd965,
  banana-60: #fce28b,
  banana-40: #fdecb2,
  banana-20: #fff9e6,
  // Other
  black: #000,
  white: #fff,
  transparent: rgba(255, 255, 255, 0),
);

// Typography
$title: 'Poppins', 'Avenir', 'Avenir Next', 'Futura', helvetica, arial, sans-serif;
$body: 'IBM Plex Sans', 'Franklin Gothic', 'ITC Franklin Gothic', helvetica, arial, sans-serif;

$type-scale: $base-scale * 4;

$font-sizes: (
  font-size-1: $type-scale * 0.625,
  font-size-2: $type-scale * 0.75,
  font-size-3: $type-scale * 0.875,
  font-size-4: $type-scale * 1,
  font-size-5: $type-scale * 1.125,
  font-size-6: $type-scale * 1.25,
  font-size-7: $type-scale * 1.5,
  font-size-8: $type-scale * 1.75,
  font-size-9: $type-scale * 2,
  font-size-10: $type-scale * 2.25,
  font-size-11: $type-scale * 2.5,
  font-size-12: $type-scale * 2.75,
  font-size-13: $type-scale * 3,
);

$line-heights: (
  line-height-1: $type-scale * 0.75,
  line-height-2: $type-scale,
  line-height-3: $type-scale * 1.25,
  line-height-4: $type-scale * 1.5,
  line-height-5: $type-scale * 1.75,
  line-height-6: $type-scale * 2,
  line-height-7: $type-scale * 2.25,
  line-height-8: $type-scale * 2.5,
  line-height-9: $type-scale * 2.75,
  line-height-10: $type-scale * 3,
  line-height-11: $type-scale * 3.25,
  line-height-12: $type-scale * 3.5,
);

// Spacing
$spacing-scale: $base-scale * 1;

$spacing: (
  spacing-0: 0,
  spacing-1: $spacing-scale * 1,
  spacing-2: $spacing-scale * 2,
  spacing-3: $spacing-scale * 3,
  spacing-4: $spacing-scale * 4,
  spacing-5: $spacing-scale * 5,
  spacing-6: $spacing-scale * 6,
  spacing-7: $spacing-scale * 7,
  spacing-8: $spacing-scale * 8,
  spacing-9: $spacing-scale * 12,
  spacing-10: $spacing-scale * 16,
  spacing-11: $spacing-scale * 20,
);

// Widths
$widths: 10%, 20%, 25%, 30%, 33%, 34%, 40%, 50%, 60%, 67%, 70%, 75%, 80%, 90%, 100%;

// Max-widths
$max-widths: 1rem, 2rem, 3rem, 4rem, 8rem, 16rem, 20rem, 32rem, 48rem, 64rem, 96rem, 100%;

// Heights
$heights: 0, 100%;

// Border Widths:
$border-widths: 0, 1px, 2px, 3px, 4px;

// Border Radiuses:
$border-radiuses: 0, 1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px, 100%;

// Breakpoints
$breakpoints: (
  bp-s: 'screen and (min-width: 30rem)',     // ~ phone
  bp-m: 'screen and (min-width: 45rem)',     // ~ tablet
  bp-l: 'screen and (min-width: 60rem)',     // ~ laptop
  bp-xl: 'screen and (min-width: 70.5rem)',  // ~ monitor
);

// From design 12 columns, 68px wide + 24px gutter
$column-width: $base-scale * 17;
$gutter-width: $base-scale * 6;
$cols: 12;

$columns-basis: (
  s: $base-scale * 50,
  m: $base-scale * 100,
  l: $base-scale * 200
);

// Box shadows
$box-shadow-soft: 0 12px 26px 0 rgba(54, 141, 255, 0.1);
$box-shadow-hard: 0 34px 24px 0  rgba(54, 141, 255, 0.5);

// Transition and animation
$transition-duration: 300ms;
$transition-function: ease-in;
