@each $width in $widths {
  $width-value: floor(strip-unit($width));

  .w-#{$width-value} {
    width: $width;
  }
}

.w-auto {
  width: auto;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @media #{$breakpoint-value} {
    @each $width in $widths {
      $width-value: floor(strip-unit($width));

      .#{$breakpoint-name}--w-#{$width-value} {
        width: $width;
      }
    }

    .#{$breakpoint-name}--w-auto {
      width: auto;
    }
  }
}
