@for $n from -1 through 9 {
  @if $n < 0 {
    .z-n#{abs($n)} {
      z-index: $n;
    }
  }

  @else if $n > 0 {
    .z-#{$n} {
      z-index: $n;
    }
  }
}

.z-max {
  z-index: 2147483647;
}

.z-inherit {
  z-index: inherit;
}

.z-initial {
  z-index: initial;
}

.z-unset {
  z-index: unset;
}
