// Body
@mixin body-1 {
  font-size: $font-size-2;
  line-height: $line-height-2;
  font-family: $body;
}

@mixin body-2 {
  font-size: $font-size-3;
  line-height: $line-height-3;
  font-family: $body;
}

@mixin body-3 {
  font-size: $font-size-4;
  line-height: $line-height-4;
  font-family: $body;
}

@mixin body-4 {
  font-size: $font-size-5;
  line-height: $line-height-5;
  font-family: $body;
}

@mixin body-5 {
  font-size: $font-size-6;
  line-height: $line-height-6;
  font-family: $body;
}

@mixin body-6 {
  font-size: $font-size-7;
  line-height: $line-height-7;
  font-family: $body;
}

@mixin body-7 {
  font-size: $font-size-8;
  line-height: $line-height-8;
  font-family: $body;
}

// Title
@mixin title-1 {
  font-size: $font-size-8;
  line-height: $line-height-7;
  font-family: $title;
}

@mixin title-2 {
  font-size: $font-size-9;
  line-height: $line-height-8;
  font-family: $title;
}

@mixin title-3 {
  font-size: $font-size-10;
  line-height: $line-height-9;
  font-family: $title;
}

@mixin title-4 {
  font-size: $font-size-11;
  line-height: $line-height-10;
  font-family: $title;
}

@mixin title-5 {
  font-size: $font-size-12;
  line-height: $line-height-11;
  font-family: $title;
}

@mixin title-6 {
  font-size: $font-size-13;
  line-height: $line-height-12;
  font-family: $title;
}

@mixin title-7 {
  font-size: $font-size-14;
  line-height: $line-height-13;
  font-family: $title;
}

// Lead-in
@mixin lead-in-1 {
  font-size: $font-size-2;
  line-height: $line-height-3;
  text-transform: uppercase;
  letter-spacing: rem(0.05 * $font-size-2);
}

@mixin lead-in-2 {
  font-size: $font-size-3;
  line-height: $line-height-4;
  text-transform: uppercase;
  letter-spacing: rem(0.05 * $font-size-3);
}
