// Copy
@mixin copy-1 {
  font-size: $font-size-2;
  line-height: $line-height-2;
  font-family: $copy;
}

@mixin copy-2 {
  font-size: $font-size-3;
  line-height: $line-height-3;
  font-family: $copy;
}

@mixin copy-3 {
  font-size: $font-size-4;
  line-height: $line-height-4;
  font-family: $copy;
}

@mixin copy-4 {
  font-size: $font-size-5;
  line-height: $line-height-28;
  font-family: $copy;
}

@mixin copy-5 {
  font-size: $font-size-6;
  line-height: $line-height-6;
  font-family: $copy;
}

@mixin copy-6 {
  font-size: $font-size-7;
  line-height: $line-height-7;
  font-family: $copy;
}

@mixin copy-7 {
  font-size: $font-size-8;
  line-height: $line-height-8;
  font-family: $copy;
}

// Title
@mixin title-1 {
  font-size: $font-size-8;
  line-height: $line-height-7;
  font-family: $title;
}

@mixin title-2 {
  font-size: $font-size-9;
  line-height: $line-height-8;
  font-family: $title;
}

@mixin title-3 {
  font-size: $font-size-10;
  line-height: $line-height-9;
  font-family: $title;
}

@mixin title-4 {
  font-size: $font-size-11;
  line-height: $line-height-10;
  font-family: $title;
}

@mixin title-5 {
  font-size: $font-size-12;
  line-height: $line-height-11;
  font-family: $title;
}

@mixin title-6 {
  font-size: $font-size-13;
  line-height: $line-height-12;
  font-family: $title;
}

// Lead-in
@mixin lead-in-1 {
  font-size: $font-size-3;
  line-height: $line-height-3;
  text-transform: uppercase;
  letter-spacing: rem(1px);
}

@mixin lead-in-2 {
  font-size: $font-size-4;
  line-height: $line-height-4;
  text-transform: uppercase;
  letter-spacing: rem(1px);
}
