// Border Widths
$border-width-0: 0;
$border-width-1: 1px;
$border-width-2: 2px;

$border-widths: (
  0: $border-width-0,
  1: $border-width-1,
  2: $border-width-2
);

// Border Radii
$border-radius-0: 0;
$border-radius-1: $base-scale * 1; // 4px
$border-radius-2: $base-scale * 2; // 8px
$border-radius-3: $base-scale * 4; // 16px
$border-radius-circle: 100%;
$border-radius-pill: 999999999px;

$border-radii: (
  0: $border-radius-0,
  1: $border-radius-1,
  2: $border-radius-2,
  3: $border-radius-3,
  circle: $border-radius-circle,
  pill: $border-radius-pill
);
