$columns: 12;

$gap-none: 0;
$gap-s: $base-scale * 4;
$gap-m: $base-scale * 6;
$gap-l: $base-scale * 8;

$grid-gaps: (
  none: $gap-none,
  s: $gap-s, // 16px
  m: $gap-m, // 24px
  l: $gap-l // 32px
);

$columns-basis: (
  s: $base-scale * 50,
  m: $base-scale * 100,
  l: $base-scale * 200
);
