// Widths
$widths: 1rem, 10%, 20%, 25%, 30%, 33.333%, 40%, 50%, 60%, 66.667%, 70%, 75%, 80%, 90%, 100%;

// Max-widths
$max-widths: 1rem, 2rem, 3rem, 4rem, 8rem, 16rem, 20rem, 32rem, 48rem, 64rem, 96rem, 100%;

// Heights
$heights: 0, 1rem, 100%, 105%;
