@function rem($value) {
  $result: ();

  @for $i from 1 through length($value) {
    $v: nth($value, $i);

    @if is-absolute-length($v) {
      $result: append($result, ($v / 16px) * 1rem);
    }

    @else {
      $result: append($result, $v);
    }
  }

  @return $result;
}

@function is-absolute-length($value) {
  @return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

@function is-number($value) {
  @return type-of($value) == 'number';
}
