*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a,
article,
body,
code,
dd,
div,
dl,
dt,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
legend,
li,
main,
ol,
p,
pre,
section,
table,
td,
textarea,
th,
tr,
ul,
[type='email'],
[type='number'],
[type='password'],
[type='tel'],
[type='text'],
[type='url'],
.border-box {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  color: $slate;
  font-family: $body;
  font-size: $font-size-5;
  line-height: $line-height-5;
  margin: 0;
}

::selection {
  background-color: $ocean-120;
  color: $white;
}

img {
  max-width: 100%;
}
