.b-none {
  border-style: none;
}

.b-all {
  border-style: solid;
}

.b-top {
  border-top-style: solid;
}

.b-right {
  border-right-style: solid;
}

.b-bottom {
  border-bottom-style: solid;
}

.b-left {
  border-left-style: solid;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @media #{$breakpoint-value} {
    .#{$breakpoint-name}--b-none {
      border-style: none;
    }

    .#{$breakpoint-name}--b-all {
      border-style: solid;
    }

    .#{$breakpoint-name}--b-top {
      border-top-style: solid;
    }

    .#{$breakpoint-name}--b-right {
      border-right-style: solid;
    }

    .#{$breakpoint-name}--b-bottom {
      border-bottom-style: solid;
    }

    .#{$breakpoint-name}--b-left {
      border-left-style: solid;
    }
  }
}
