@each $color-name, $color-value in $colors {
  .#{$color} {
    color: #{$color-value};
  }

  .#{$color}-hover:hover,
  .#{$color}-hover:focus {
    color: #{$color-value};
  }

  .bg-#{$color} {
    background-color: #{$color-value};
  }

  .bg-#{$color}-hover:hover,
  .bg-#{$color}-hover:focus {
    background-color: #{$color-value};
  }
}
