@each $color-name, $color-value in $colors {
  .#{$color-name} {
    color: #{$color-value};
  }

  .#{$color-name}-hover:hover,
  .#{$color-name}-hover:focus {
    color: #{$color-value};
  }

  .bg-#{$color-name} {
    background-color: #{$color-value};
  }

  .bg-#{$color-name}-hover:hover,
  .bg-#{$color-name}-hover:focus {
    background-color: #{$color-value};
  }
}
