.fs-0 { font-size: 0; }

@each $name, $size in $font-sizes {
  $i: index($font-sizes, $name $size);

  .fs-#{$i} {
    font-size: #{$size};
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  $i: index($breakpoints, $breakpoint-name $breakpoint-value);

  @media #{$breakpoint-value} {
    .#{$breakpoint-name}--fs-0 { font-size: 0; }

    @each $name, $size in $font-sizes {
      $i: index($font-sizes, $name $size);

      .#{$breakpoint-name}--fs-#{$i} {
        font-size: #{$size};
      }
    }
  }
}
