// See $spacing map in _variables.scss

@each $spacing-name, $spacing-value in $spacing {
  $i: index($spacing, $spacing-name $spacing-value);

  .m-#{$i} {
    margin: rem($spacing-value);
  }

  .mx-#{$i} {
    margin-left: rem($spacing-value);
    margin-right: rem($spacing-value);
  }

  .my-#{$i} {
    margin-top: rem($spacing-value);
    margin-bottom: rem($spacing-value);
  }

  .mt-#{$i} {
    margin-top: rem($spacing-value);
  }

  .mr-#{$i} {
    margin-right: rem($spacing-value);
  }

  .mb-#{$i} {
    margin-bottom: rem($spacing-value);
  }

  .ml-#{$i} {
    margin-left: rem($spacing-value);
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  $i: index($breakpoints, $breakpoint-name $breakpoint-value);

  @media #{$breakpoint-value} {
    @each $spacing-name, $spacing-value in $spacing {
      $i: index($spacing, $spacing-name $spacing-value);

      .#{$breakpoint-name}--m-#{$i} {
        margin: rem($spacing-value);
      }

      .#{$breakpoint-name}--mx-#{$i} {
        margin-left: rem($spacing-value);
        margin-right: rem($spacing-value);
      }

      .#{$breakpoint-name}--my-#{$i} {
        margin-top: rem($spacing-value);
        margin-bottom: rem($spacing-value);
      }

      .#{$breakpoint-name}--mt-#{$i} {
        margin-top: rem($spacing-value);
      }

      .#{$breakpoint-name}--mr-#{$i} {
        margin-right: rem($spacing-value);
      }

      .#{$breakpoint-name}--mb-#{$i} {
        margin-bottom: rem($spacing-value);
      }

      .#{$breakpoint-name}--ml-#{$i} {
        margin-left: rem($spacing-value);
      }
    }
  }
}
