* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: $body;
  font-size: map-get($font-sizes, font-size-5);
  line-height: map-get($line-heights, line-height-5);
  color: map-get($colors, slate);
}

::selection {
  color: #fff;
  background: map-get($colors, ocean);
}
