// See $spacing map in _variables.scss

@each $spacing-name, $spacing-value in $spacing {
  $i: index($spacing, $spacing-name $spacing-value);

  .m#{$i} {
    margin: $spacing-value;
  }

  .mx#{$i} {
    margin-left: $spacing-value;
    margin-right: $spacing-value;
  }

  .my#{$i} {
    margin-top: $spacing-value;
    margin-bottom: $spacing-value;
  }

  .mt#{$i} {
    margin-top: $spacing-value;
  }

  .mr#{$i} {
    margin-right: $spacing-value;
  }

  .mb#{$i} {
    margin-bottom: $spacing-value;
  }

  .ml#{$i} {
    margin-left: $spacing-value;
  }

  .p#{$i} {
    padding: $spacing-value;
  }

  .px#{$i} {
    padding-left: $spacing-value;
    padding-right: $spacing-value;
  }

  .py#{$i} {
    padding-top: $spacing-value;
    padding-bottom: $spacing-value;
  }

  .pt#{$i} {
    padding-top: $spacing-value;
  }

  .pr#{$i} {
    padding-right: $spacing-value;
  }

  .pb#{$i} {
    padding-bottom: $spacing-value;
  }

  .pl#{$i} {
    padding-left: $spacing-value;
  }
}
