@each $spacer-name, $spacer-value in $spacers {
  $i: index($spacers, $spacer-name $spacer-value);

  .m#{$i} {
    margin: $spacer-value;
  }

  .mx#{$i} {
    margin-left: $spacer-value;
    margin-right: $spacer-value;
  }

  .my#{$i} {
    margin-top: $spacer-value;
    margin-bottom: $spacer-value;
  }

  .mt#{$i} {
    margin-top: $spacer-value;
  }

  .mr#{$i} {
    margin-right: $spacer-value;
  }

  .mb#{$i} {
    margin-bottom: $spacer-value;
  }

  .ml#{$i} {
    margin-left: $spacer-value;
  }
}